section#movie-list{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
section#movie-list a{
    text-decoration: none;
}
section#movie-list article{
    flex: 0 0 200px;
    background-color: #2f3640;
    border: 1px solid #353b48;
    width: 250px;
    color: #f5f6fa;
    box-shadow: 6px 6px 10px -4px rgba(0,0,0,.15);
    margin-bottom: 20px;
    min-height: 440px;
}
section#movie-list article:hover{
    box-shadow: 10px 10px 10px -1px rgba(251, 197, 49,.4);
    flex: 0 0 220px;
    cursor: pointer;
}

section#movie-list article .img-movie{
 width: 100%;
}

section#movie-list footer{
    padding: 0 0 10px 10px;
}

section#movie-list footer .movie-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section#movie-list footer .movie-content .movie-score{
    font-size: 12px;
    background-color: #c23616;
    color: #dcdde1;
    font-weight: 600;
    padding: 5px;
    margin-right: -1px;
    box-shadow: -5px 5px 10px -4px rgba(0,0,0,.2);
    min-width: 25px;
    text-align: center;
}
section#movie-list footer .movie-content .movie-info{
    display: flex;
    flex-direction: column;
}
section#movie-list footer .movie-content .movie-info {
    display: flex;
    flex-direction: column;
    line-height: 17px;
    font-size: 18px;
}
section#movie-list footer .movie-content .movie-info .movie-director{
    font-size: 13px;
    margin-top: 4px;
    color:#dcdde1;
}
section#movie-list footer .movie-description{
    padding: 5px 0;
    width: 100%;
}
section#movie-list footer .movie-description p.movie-tags{
    font-size: 13px;
    max-height: 100px;
    overflow:hidden;
    width: 100%;
    color:#7f8fa6;
}
section#movie-list footer .movie-description p.movie-tags span:not(:first-child):before{
    content: ", ";
}


@media screen and (max-width: 767px){
    section#movie-list{
        justify-content: center;
    }
}