header#main-header{
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid darkgoldenrod;
}

header#main-header .header-content{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 80px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header .header-content .img-logo{
    height: 60px;
}


header#main-header .header-content .header-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}