*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 15px Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    background: rgb(30,34,41);
}
#root{
    background: rgb(30,34,41);
    background: linear-gradient(0deg, rgba(30,34,41,1) 0%, rgba(53,59,72,1) 35%, rgba(25,42,86,1) 100%);
}